* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-back-calc: #1c1c1c;
  --color-button-active: #dc9e00;
  --color-button: #ffb800;
  --color-number: #ffffff;
  --color-darkGray: #6d6d6d;
  --color-darkGrayActiveOrHover: #565656;
  --color-lightGary: #aeaeae;
  --color-lightGaryActiveOrHover: #858585;
  --color-lightGaryModeL: #d9d9d9;
  --color-darkGrayModeL: #d9d9d9;
  --color-back-calcModeL: #4a4a4a;
  --color-btn-close: red;
  --color-btn-collapse: yellow;
  --color-btn-any: green;
}

p,h1,label{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
  
  font-size: 30px;
  text-transform: uppercase;
  pointer-events: none;
}

body {
  display: grid;
  grid-template-rows: 7vh 80vh 7vh;
  grid-template-columns: auto 95vw auto;
  grid-template-areas: ". header ." ". main ." ". footer .";
  row-gap: 10px;
}
header,
main,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
  display: grid;
  grid-template-rows: 20px auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "dark light" "calc calc";
  gap: 20px;
}
label[for="light"],
label[for="dark"] {
  width: clamp(100px,10%,200px);
  display: flex;
  justify-self: center;
  justify-content: center;
  
  -webkit-tap-highlight-color: transparent !important;
}
#test {
  color: red;
}
label[for="dark"] {
  grid-area: dark;
  
}
label[for="light"] {
  grid-area: light;
}
.main_container {
  grid-area: calc;
  display: flex;
  justify-content: center;
  height: 100%;
}
footer {
  grid-area: footer;
}
.calc {
  width: clamp(280px,50%,320px);
  
  min-height: 400px;
  height: 95%;
  max-height: 563px;
  background-color: var(--color-back-calc);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 30% 65%;
  grid-template-areas: "mode" "screen" "buttons";
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 11px 33px 12px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 11px 33px 12px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 11px 33px 12px rgba(34, 60, 80, 0.2);
}
.calc_screen_button {
  grid-area: mode;
  display: flex;
  gap: 10px;
  padding: 10px;
}
.calc_screen_button > label[for="close"],
label[for="collapse"],
label[for="any"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
}
label[for="close"] {
  background-color: var(--color-btn-close);
}
label[for="collapse"] {
  background-color: var(--color-btn-collapse);
}
label[for="any"] {
  background-color: var(--color-btn-any);
}
.calc_screen {
  grid-area: screen;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px 20px;
}
.calc_buttons {
  grid-area: buttons;
}
.calc_buttons {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "btn1 btn2 btn3 btn4"
    "btn5 btn6 btn7 btn8"
    "btn9 btn10 btn11 btn12"
    "btn13 btn14 btn15 btn16"
    "btn17 btn17 btn18 btn19";
  gap: 2px;
}
.btn {
  color: var(--color-number);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent !important;
  outline: none;
  user-select: none;
}

.orangeBtn {
  background-color: var(--color-button);
}
.orangeBtn:active {
  background-color: var(--color-button-active);
}
.darkGray {
  background-color: var(--color-darkGray);
}
.lightGray {
  background-color: var(--color-lightGary);
}
.darkGray:active {
  background-color: var(--color-darkGrayActiveOrHover);
}
.lightGray:active {
  background-color: var(--color-lightGaryActiveOrHover);
}
.btn1 {
  grid-area: btn1;
}
.btn2 {
  grid-area: btn2;
}
.btn3 {
  grid-area: btn3;
}
.btn4 {
  grid-area: btn4;
}
.btn5 {
  grid-area: btn5;
}
.btn6 {
  grid-area: btn6;
}
.btn7 {
  grid-area: btn7;
}
.btn8 {
  grid-area: btn8;
}
.btn9 {
  grid-area: btn9;
}
.btn10 {
  grid-area: btn10;
}
.btn11 {
  grid-area: btn11;
}
.btn12 {
  grid-area: btn12;
}
.btn13 {
  grid-area: btn13;
}
.btn14 {
  grid-area: btn14;
}
.btn15 {
  grid-area: btn15;
}
.btn16 {
  grid-area: btn16;
}
.btn17 {
  grid-area: btn17;
}
.btn18 {
  grid-area: btn18;
}
.btn19 {
  grid-area: btn19;
}
.calc_screen_container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "p1" "p2";
}
#test,
#result {
  width: 100%;
  height: 100%;
  text-align: end;
}
#test {
  grid-area: p1;
}
#result {
  grid-area: p2;
}

#result {
  color: var(--color-number);
  font-size: 48px;
}
.light,
.lightB {
  transition: 0.7s ease-in-out;
}
input[type="radio"] {
  display: none;
}
input[id="dark"] ~ label[for="dark"],
input[id="light"] ~ label[for="light"] {
  background-color: var(--color-button);
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  transition: 0.7s ease-in-out;
}
input[id="dark"]:checked ~ label[for="dark"],
input[id="light"]:checked ~ label[for="light"] {
  background-color: var(--color-button-active);
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

input[id="light"]:checked ~ .main_container .light {
  background-color: var(--color-back-calcModeL);
}
input[id="light"]:checked ~ .main_container .lightB {
  background: var(--color-darkGrayModeL);
  color: var(--color-back-calc);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: var(--color-darkGrayModeL);
  transition: 0.7s ease-in-out;
}
input[id="dark"]:checked ~ .background {
  background-color: var(--color-button-active);
}
footer>p{
  font-size: 10px;
  padding: 0;
}